<div class="results-card" data-controller='show-infos'>
  <h6>
    Estimation, selon la saison, des capacités énergétiques de votre véhicule</h6>
  <div class="results-header">
    <div class="results-label">
      <p>

          Indicateurs
        
      </p>
    </div>
    <div class="summer-logo header-logo-radius">
      <i class="fa-solid fa-sun"></i>
    </div>
    <div class="winter-logo header-logo-radius">
      <i class="fa-solid fa-snowflake"></i>
    </div>
  </div>
  <div class="results-line">
    <div class="results-line-label">
      <i class="fa-solid fa-car-battery"></i>
      <div class="result-line-label-right-box">
        <p>Consommation de la batterie en 24h</p>
        <%= render 'info_percentage_btn' %>
      </div>
    </div>
    <div class="summer-logo">
      <%= @prospect['perc_by_day'] %> % <!--SUMMER % per day -->
    </div>
    <div class="winter-logo">
      <%= @prospect['winter_perc_by_day'] %> % <!--WINTER % per day -->
    </div>
  </div>
  <div class="results-line">
    <div class="results-line-label">
      <i class="fa-solid fa-van-shuttle"></i>
      <div class="result-line-label-right-box">
        <p>Nombre de jours sans recharger</p>
        <%= render 'info_autonomy_btn'%>
      </div>
    </div>
    <div class="summer-logo">
      <%= @prospect['autonom_days'] %> jrs <!--SUMMER nb of autonom days -->
    </div>
    <div class="winter-logo">
      <%= @prospect['winter_autonom_days'] %> jrs <!--WINTER nb of autonom days -->
    </div>
  </div>
  <div class="results-line">
    <div class="results-line-label">
      <i class="pt-3 fa-solid fa-bolt-lightning"></i>
      <div class="result-line-label-right-box">
        <p>Besoin énergitique moyen pour une journée</p>
        <%= render 'info_average_btn'%>
      </div>
    </div>
    <div class="summer-logo bottom-logo-radius">
      <%= @prospect['ah_per_day'] %> Ah/J<!--SUMMER Consommation 4 1 day No solar input in account -->
    </div>
    <div class="winter-logo bottom-logo-radius">
      <%= @prospect['winter_ah_per_day'] %> Ah/J<!--WINTER Consommation 4 1 day No solar input in account -->
    </div>
  </div>
</div>
<div class="final-cta">
  <%= link_to  contact_path(params: { email: @prospect['email'] }),
      data: { confirm: "Etes vous sur?"} do
    %>
  <div class="ypo-cta-blue">
    <div class="circle-white">+</div>
    <p>Contacter un conseiller
    </p>
  </div>
<% end %>
<%= link_to  'https://blog.ypocamp.fr/' , data: { confirm: "Etes vous sur?"},target: :_blank do%>
  <div class="ypo-cta-white">
    <div class="circle-white">+</div>
    <p>Améliorer son autonomie
    </p>
  </div>
<% end %>
</div>
