<div class="form-box-2 d-none mt-3" id='features'  data-enroll-target='formBox'>
  <h2><i class="fa-solid fa-list-check"></i> EQUIPEMENTS 5/5</h2>
  <div class="features-box1">
    <div class="feature-card">
      <label><i class="fa-solid fa-mobile-screen-button"></i> Téléphone</label>
      <%= form.input :phone, as: :select, collection: (0..6),
        input_html: {data:{action:'click->calculate-energy#changeInForm'}},
        html5: true, label: false,
        prompt: "0", selected: 0 %>
    </div>
    <div class="feature-card">
      <label><i class="fa-solid fa-desktop"></i> Ordinateur ou tablette</label>
      <%= form.input :computer, as: :select, collection: (0..6),
        html5: true, label: false,
        input_html: {data:{action:'click->calculate-energy#changeInForm'}},
        prompt: "0", selected: 0 %>
    </div>
    <div class="feature-card">
      <label><i class="fa-solid fa-bicycle"></i> Vélo éléctrique</label>
      <%= form.input :bike, as: :select, collection: (0..6),
      input_html: {data:{action:'click->calculate-energy#changeInForm'}},
        html5: true, label: false,
        prompt: "0", selected: 0 %>
    </div>
  </div>
  <div class="grey-line"></div>
  <div class="features-box2">
    <h5> <i class="fa-solid fa-sun"></i> Type de chauffage *</h5>
    <%= form.input :heater_type, as: :radio_buttons,
                                    collection: [{type:"ALDE", value:10},
                                                   {type: "Gasoil",value:30},
                                                   {type:"Gaz", value:45}],
                                    value_method: lambda { |heater| heater[:value]},
                                    label_method: lambda { |heater| heater[:type]},
                                    collection_wrapper_tag: 'div',
                                    collection_wrapper_class: 'wrapper',
                                    item_wrapper_class: 'domain-item',
                                    html5: true,
                                    required: true,
                                    input_html: {value: '',
                                      data:{action:'click->calculate-energy#changeInForm'}
                                      }
                                    %>
  </div>
  <div class="grey-line"></div>
  <div class="features-box3" data-other-features-target='new'>
    <%= form.input :other_features,  as: :check_boxes,
                                    # the value for additionnal features in Ah/Day
                                    collection: [{name:'Convertisseur',value:12},
                                    {name:'Machine à café',value:0.8},
                                    {name:'Respirateur',value:14},
                                    {name:'Sèche-cheveux',value:0.6},
                                    {name:'Robot Cuisine',value:2.3},# 1550W => 7Ah/D (220V), in average 20mins => 2.3
                                    {name:'Micro-onde',value:0.6}], # 900W => 4AH/D (220V),in average 10mins => 0.6
                                    value_method: lambda { |feature| "#{feature[:name]}=>#{feature[:value]}"},
                                    label_method: lambda { |feature| render 'pages/features/features_label', feature: feature[:name]},
                                    multiple: true,
                                    collection_wrapper_tag: 'div',
                                    collection_wrapper_class: 'wrapper',
                                    html5: true,
                                    input_html: { class: 'selector domain-selector-small',
                                    data: {calculate_energy_target: 'features',other_features_target:'last',
                                            action:'click->calculate-energy#changeInForm'}
                                    }
                                    %>
  </div>
  <div class="grey-line"></div>
  <div class="additionnal-features-box" >
    <div class="additionnal-features" > <!-- data-other-features-target='new' -->
    </div>
    <%= render 'pages/features/additionnal_features' %>
  </div>
  <div class="grey-line mt-3"></div>
  <div class="bottom-navbar mt-3" >
    <div class="logo-navabar inactive" data-action='click->enroll#goToFridge'>
      <i class="fa-solid fa-snowflake"></i>
    </div>
    <div class="logo-navabar inactive"  data-action='click->enroll#goToSolar'>
      <i class="fa-solid fa-solar-panel"></i>
    </div>
    <div class="logo-navabar inactive"  data-action='click->enroll#goToBattery'>
      <i class="fa-solid fa-car-battery"></i>
    </div>
    <div class="logo-navabar inactive"  data-action='click->enroll#goToKm'>
      <i class="fa-solid fa-gauge-high"></i>
    </div>
    <div class="logo-navabar active"  data-action='click->enroll#goToFeatures'>
      <i class="fa-solid fa-list-check"></i>
    </div>
  </div>
  <div class="ypo-btn mt-3 mb-2 center-element" data-action='click->enroll#finishForm'>
    <<&nbspCONNAITRE MA CONSOMMATION&nbsp>>
  </div>
</div>
