<%= simple_form_for :prospect,url: calculate_path, method: 'get',
                              html: {data:{calculate_energy_target: 'form',enroll_target:'form'}, id: 'calculate-energy' } do |form|%>
  <div class="invisible">
    <%= form.input :email, as: :email, input_html:{class: 'd-none', value: @email} %>
    <%= form.input :perc_by_day, as: :integer,  label: false, input_html:{value: "84", class: "invisible", data:{calculate_energy_target:'formPercByDay'}} %>
    <%= form.input :autonom_days, as: :decimal,  label: false, input_html:{value: "1.2", class: "invisible",data:{calculate_energy_target:'formAutonomDays'}} %>
    <%= form.input :ah_per_day, as: :decimal,  label: false, input_html:{value: "56", class: "invisible",data:{calculate_energy_target:'formAhPerDay'}} %>
  </div>
  <%= render 'fridge_form', form: form %>
  <%= render 'solar_form', form: form %>
  <%= render 'battery_form', form: form %>
  <%= render 'km_form', form: form %>
  <%= render 'features_form', form: form %>
  <%= render 'result_form', form: form  %>
<% end %>
<%# modal %>
<!-- Modal ajout appareil -->
<div class="modal fade" id="addFeatureModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addFeatureModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addFeatureModalLabel"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action='click->calculate-energy#changeInForm'></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for :new_feat do |feat| %>
          <div class="mail_email">
            <%= feat.input :name, as: :string, required: true,label:false,
                                input_html:{value:"Nom de l'appareil*",
                                  data:{other_features_target:'name',
                                                  controller:'clean-form',
                                                  action:'click->clean-form#clean'}} %>
          </div>
          <div class="d-flex">
            <%= feat.input :watt, as: :integer, label:false,input_html:{class: 'km-form',data:{other_features_target:'watt'}} %>
            <div class='units'>Watts</div>
          </div>
          <p class='fst-italic'>Alimentation en 220V et un usage de 10mins/jour</p>
        <% end %>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-secondary text-white" data-bs-dismiss="modal" data-action='click->calculate-energy#changeInForm'>Fermer</button>
        <button type="button" class="btn btn-success text-white " data-action='click->other-features#addFeatures'>Ajouter</button>
      </div>
    </div>
  </div>
</div>
