<%= simple_form_for :prospect,url: calculate_path, method: 'get', html: { novalidate: false, data:{controller:'calculate-energy',calculate_energy_target:'form'}, id: 'calculate-energy',onKeyDown:'blockEnter(event)' } do |form|%>
  <div class="invisible">
    <%= form.input :email, as: :email, input_html:{class: 'd-none', value: @email} %>
    <%= form.input :perc_by_day, as: :integer,  label: false, input_html:{value: "84", class: "invisible", data:{calculate_energy_target:'formPercByDay'}} %>
    <%= form.input :autonom_days, as: :decimal,  label: false, input_html:{value: "1.2", class: "invisible",data:{calculate_energy_target:'formAutonomDays'}} %>
    <%= form.input :ah_per_day, as: :decimal,  label: false, input_html:{value: "56", class: "invisible",data:{calculate_energy_target:'formAhPerDay'}} %>
  </div>
  <%= render 'fridge_form', form: form %>
  <%= render 'solar_form', form: form %>
  <%= render 'battery_form', form: form %>
  <%= render 'km_form', form: form %>
  <%= render 'features_form', form: form %>
  <div class="form-box mt-3 d-none" id='results' data-enroll-target='formBox'>
    <div class="result-card">
      Vous consommez&nbsp
      <h3 data-calculate-energy-target="percPerDay"></h3>
      &nbspde votre batterie en 24h</bold>
  </div>
  <div class="result-card">
    Vous pouvez voyager pendant environ
    &nbsp
    <h3 data-calculate-energy-target="autonomDays"></h3>
    jours en toute autonomie
  </div>
  <div class="result-card">
    Vous consommez en moyenne&nbsp
    <h3 data-calculate-energy-target="ahPerDay"></h3>
  </div>

    <%= form.button :submit, "SOLUTIONS POUR AMELIORER VOTRE AUTONOMIE" ,class: 'ypo-btn mb-2', data: { confirm: "Etes vous sur?"} %>

</div>
<% end %>
