<!DOCTYPE html>
<html>
  <head>
    <title>Ypocampenergy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-container">
    <%= render "logo" %>
      <div class="left" data-controller='enroll'>
        <%= yield %>
      </div>
      <div class="right">
      <%= image_tag "right.png" %>
      </div>
    </div>
  </body>
</html>
